@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffe9d2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}


header .logo img {
    width: 300px;
    height: 100px;
    object-fit: fill
}

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}


.slider .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0s;
    transition: 0.5s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked+.imgBx {
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.45s;

}

.slider .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .imgBx .content {
    position: relative;
    text-align: center;
    max-width: 800px;
}

.slider .imgBx .content h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
    color: #fff;
}

.slider .imgBx .content .bold {
    font-weight: 700;
}

.slider .imgBx .content .home1 {
    font-weight: 500;
    font-size: 43px;
}

.slider .imgBx .content p {
    font-size: 1.1em;
    color: #fff;
    line-height: 50px;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}



.container-2 {
    margin-top: 200px;
}

.about {
    display: flex;
    margin: 100px;
}

.image img {
    width: 31em;
    object-fit: fill;
    height: 31em;
}


.text-about {
    margin-top: 100px;
    text-align: start;
}

.text-about h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 55px;

}


.container-3 {
    width: 100%;
    height: auto;
    position: relative;
}

.container-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-T {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-T h1 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #fff;
}


.container-4 {
    margin: 150px;
}

.benefit {
    display: flex;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.benefit-1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35;
    font-weight: 600;
    color: #F18716;
}

.benefit-1 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.benefit-card {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
}

.card1 {
    text-align: center;
    width: 350px;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #EF8616, #4B2A06);
}

.card1 img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
}

.card1 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #fff;
}

.card1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.card2 {
    text-align: center;
    width: 350px;
    height: 270px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #EF8616, #4B2A06);
}

.card2 img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: #fff;
}

.card2 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #fff;
}

.card2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.card3 {
    text-align: center;
    width: 350px;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #EF8616, #4B2A06);
}

.card3 img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}

.card3 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #fff;
}

.card3 p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.container-5 {
    margin: 50px;
}

.text-safety h1 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #F18716;
    font-size: 40px;
}

.Produk-img {
    margin-top: 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}

.safeteyy-1 {
    display: flex;
    text-align: center;
}

.safety-1 {
    width: 150px;
    height: 150px;
}

.safety-1 img {
    object-fit: fill;
    width: 100px;
    height: 100px;
}

.safety-1 h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.Produk-img2 {
    margin-top: 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.safeteyy-2 {
    display: flex;
    text-align: center;
}

.safety-2 {
    width: 150px;
    height: 150px;
}

.safety-2 img {
    object-fit: fill;
    width: 100px;
    height: 100px;
}

.safety-2 h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.Produk-img3 {
    margin-top: 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}

.safeteyy-3 {
    display: flex;
    text-align: center;
}

.safety-3 {
    width: 150px;
    height: 150px;
}

.safety-3 img {
    object-fit: fill;
    width: 100px;
    height: 100px;
}

.safety-3 h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.market-title {
    background-color: #F18716;
    width: 550px;
    padding: 10px;
    border-radius: 0px 30px 30px 0px;
}

.M-title h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.market-img {
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.imageM1 img {
    width: 255px;
    height: 90px;
    object-fit: fill;
    cursor: pointer;
}


.container-7 {
    background-color: #F18716;
}

.container-foot {
    display: flex;
}

.foot-1 {
    padding: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

.title-foot {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}

.foot-img1 {
    margin-top: 50px;
}

.foot-img {
    display: flex;
    margin-top: 20px;
    width: 101vh;
    gap: 20px;
}


.foot-img img {
    width: 20px;
    height: 20px;
    object-fit: fill;
}



.foot-img h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;

}

.foot-img a {
    font-family: 'Poppins',
        sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


.foot-2 {
    padding: 50px;
    margin-top: 30px;

}

.line-foot {
    width: 1px;
    height: 350px;
    border-style: solid;
    color: #fff;
}

.foot-3 {
    margin-top: 80px;
}

.title-jam h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.day-foot h5 {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}



@media only screen and (max-width: 600px) {
    header {
        padding: 10px 10px;
    }

    header .logo img {
        width: 120px;
        height: 40px;
        object-fit: fill
    }

    .slider .imgBx {
        padding: 20px;
    }

    .slider {
        width: 100%;
        min-height: 50vh;
    }

    .slider .imgBx .content h2 {
        font-size: 18px;
        line-height: 27px;
    }

    .slider .imgBx .content .home1 {
        font-size: 14px;
        line-height: 30px;
    }

    .slider .imgBx .content p {
        font-size: 1em;
        color: #fff;
        margin-top: 10px;
    }

    .container-2 {
        margin-top: 0;
    }

    .text-about {
        margin-top: 30px;
        text-align: start;
    }

    .about {
        display: flex;
        margin: 50px;
    }

    .image img {
        width: 110px;
        object-fit: fill;
        height: 110px;
        margin-top: 20px;
    }


    .text-about h2 {
        font-size: 7px;
        font-weight: 500;
        line-height: 15px;
    }




    .container-3 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .container-3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-T {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-T h1 {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }

    .container-4 {
        margin: 20px;
    }

    .benefit {
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
    }

    .benefit-1 h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #F18716;
    }

    .benefit-1 h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;

    }

    .benefit-card {
        flex-wrap: wrap;
    }

    .card1 {
        width: 450px;
        height: 300px;
    }

    .card1 img {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .card1 h4 {
        font-size: 25px;
    }

    .card1 p {
        font-size: 15px;
    }

    .card2 {
        width: 450px;
        height: 300px;
    }

    .card2 img {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .card2 h4 {
        font-size: 25px;
    }

    .card2 p {
        font-size: 15px;
    }

    .card3 {
        width: 450px;
        height: 300px;
    }

    .card3 img {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .card3 h4 {
        font-size: 25px;
    }

    .card3 p {
        font-size: 15px;
    }

    .container-5 {
        margin: 25px;
    }

    .text-safety h1 {
        text-align: center;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        color: #F18716;
        font-size: 22px;
    }

    .Produk-img {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .Produk-img::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-1 {
        display: flex;
        text-align: center;
    }

    .safety-1 {
        width: 100px;
        height: 100px;

    }

    .safety-1 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-1 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .Produk-img2 {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .Produk-img2::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-2 {
        display: flex;
        text-align: center;
    }

    .safety-2 {
        width: 100px;
        height: 100px;

    }

    .safety-2 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-2 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .Produk-img3 {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .Produk-img3::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-3 {
        display: flex;
        text-align: center;
    }

    .safety-3 {
        width: 100px;
        height: 100px;

    }

    .safety-3 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-3 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .market-title {
        background-color: #F18716;
        width: 300px;
        padding: 8px;
        border-radius: 0px 30px 30px 0px;
    }

    .M-title h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
    }

    .market-img {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }

    .imageM1 img {
        width: 68px;
        height: 25px;
        object-fit: fill;
        cursor: pointer;
    }

    .container-foot {
        display: flex;
        flex-wrap: wrap;
    }

    .foot-1 {
        padding: 10px;
        margin-top: 40px;
        margin-left: 25px;
    }

    .title-foot {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 20px;
        font-size: 15px;
        color: #fff;
    }

    .foot-img1 {
        margin-top: 50px;
    }

    .foot-img {
        display: flex;
        margin-top: 20px;
        width: 19em;
        gap: 15px;
    }

    .foot-img img {
        width: 20px;
        height: 20px;
        object-fit: fill;
    }

    .foot-img h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
    }

    .foot-img a {
        font-family: 'Poppins',
            sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .foot-2 {
        padding: 0;
        margin-top: 0;

    }

    .line-foot {
        width: 1px;
        height: 350px;
        border-style: solid;
        color: #fff;
        display: none;
    }

    .foot-3 {
        margin-top: 80px;
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .title-jam h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

    .day-foot h5 {
        font-family: 'Poppins', sans-serif;
        margin-top: 30px;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
    }

}


@media only screen and (min-width: 700px) and (max-width:845px) {
    header {
        padding: 30px 20px;
    }

    header .logo img {
        width: 170px;
        height: 67px;
        object-fit: fill
    }

    .slider .imgBx {
        padding: 20px;
    }

    .slider {
        width: 100%;
        min-height: 70vh;
    }

    .slider .imgBx .content h2 {
        font-size: 27px;
        line-height: 35px;
    }

    .slider .imgBx .content .home1 {
        font-size: 27px;
        line-height: 50px;
    }

    .container-2 {
        margin-top: 0;
    }

    .text-about {
        margin-top: 35px;
        text-align: start;
    }

    .about {
        display: flex;
        margin: 50px;
    }

    .image img {
        width: 220px;
        object-fit: fill;
        height: 220px;
        margin-top: 20px;
    }


    .text-about h2 {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
    }

    .container-3 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .container-3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-T {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-T h1 {
        font-weight: 500;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }

    .container-4 {
        margin: 20px;
    }

    .benefit {
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
    }

    .benefit-1 h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #F18716;
    }

    .benefit-1 h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;

    }

    .benefit-card {
        flex-wrap: wrap;
    }

    .card1 {
        width: 550px;
        height: 340px;
    }

    .card1 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card1 h4 {
        font-size: 30px;
    }

    .card1 p {
        font-size: 17px;
    }

    .card2 {
        width: 550px;
        height: 340px;
    }

    .card2 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card2 h4 {
        font-size: 30px;
    }

    .card2 p {
        font-size: 17px;
    }

    .card3 {
        width: 550px;
        height: 340px;
    }

    .card3 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card3 h4 {
        font-size: 30px;
    }

    .card3 p {
        font-size: 17px;
    }

    .container-5 {
        margin: 50px;
    }

    .text-safety h1 {
        text-align: center;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        color: #F18716;
        font-size: 34px;
    }

    .Produk-img {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .Produk-img::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-1 {
        display: flex;
        text-align: center;
    }

    .safety-1 {
        width: 100px;
        height: 100px;

    }

    .safety-1 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-1 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .Produk-img2 {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .Produk-img2::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-2 {
        display: flex;
        text-align: center;
    }

    .safety-2 {
        width: 100px;
        height: 100px;

    }

    .safety-2 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-2 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .Produk-img3 {
        margin-top: 70px;
        display: flex;
        gap: 40px;
        height: 200px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .Produk-img3::-webkit-scrollbar {
        display: none;
    }


    .safeteyy-3 {
        display: flex;
        text-align: center;
    }

    .safety-3 {
        width: 100px;
        height: 100px;

    }

    .safety-3 img {
        object-fit: fill;
        width: 80px;
        height: 80px;
    }

    .safety-3 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .market-title {
        background-color: #F18716;
        width: 380px;
        padding: 10px;
        border-radius: 0px 30px 30px 0px;
    }

    .M-title h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: #fff;
    }

    .market-img {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }

    .imageM1 img {
        width: 125px;
        height: 45px;
        object-fit: fill;
        cursor: pointer;
    }

    .container-foot {
        display: flex;
    }

    .foot-1 {
        padding: 10px;
        margin-top: 40px;
        margin-left: 25px;
    }

    .title-foot {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 20px;
        font-size: 15px;
        color: #fff;
    }

    .foot-img1 {
        margin-top: 50px;
    }

    .foot-img {
        display: flex;
        margin-top: 20px;
        width: 19em;
        gap: 15px;
    }

    .foot-img img {
        width: 20px;
        height: 20px;
        object-fit: fill;
    }

    .foot-img h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
    }

    .foot-img a {
        font-family: 'Poppins',
            sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .foot-2 {
        padding: 0;
        margin-top: 0;

    }

    .line-foot {
        width: 1px;
        height: 350px;
        border-style: solid;
        color: #fff;
        display: none;
    }

    .foot-3 {
        margin-top: 80px;
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .title-jam h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

    .day-foot h5 {
        font-family: 'Poppins', sans-serif;
        margin-top: 30px;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
    }


}

@media only screen and (min-width: 900px) {
    header {
        padding: 40px 10px;
    }

    header .logo img {
        width: 220px;
        height: 67px;
        object-fit: fill
    }

    .slider .imgBx {
        padding: 20px;
    }

    .slider {
        width: 100%;
        min-height: 100vh;
    }

    .slider .imgBx .content h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .slider .imgBx .content .home1 {
        font-size: 40px;
        line-height: 55px;
    }

    .slider .imgBx .content .home3 {
        font-size: 35px;
        line-height: 50px;
    }

    .container-2 {
        margin-top: 0;
    }

    .text-about {
        margin-top: 35px;
        text-align: start;
    }

    .about {
        display: flex;
        margin: 120px;
    }

    .image img {
        width: 350px;
        object-fit: fill;
        height: 350px;
    }


    .text-about h2 {
        font-size: 29px;
        font-weight: 400;
        line-height: 50px;
        margin-top: 10px;
    }

    .container-3 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .container-3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-T {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-T h1 {
        font-weight: 500;
        font-size: 41px;
        text-align: center;
        color: #fff;
    }

    .container-4 {
        margin: 20px;
    }

    .benefit {
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
    }

    .benefit-1 h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #F18716;
    }

    .benefit-1 h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;

    }

    .benefit-card {
        flex-wrap: wrap;
    }

    .card1 {
        width: 350px;
        height: 365px;
    }

    .card1 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card1 h4 {
        font-size: 25px;
    }

    .card1 p {
        font-size: 16px;
    }

    .card2 {
        width: 350px;
        height: 365px;
    }

    .card2 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card2 h4 {
        font-size: 25px;
    }

    .card2 p {
        font-size: 16px;
    }

    .card3 {
        width: 350px;
        height: 365px;
    }

    .card3 img {
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .card3 h4 {
        font-size: 25px;
    }

    .card3 p {
        font-size: 16px;
    }

    .container-5 {
        margin: 50px;
    }

    .text-safety {
        margin: 50px;
    }

    .text-safety h1 {
        text-align: center;
        margin-top: 70px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        color: #F18716;
        font-size: 55px;
    }

    .Produk-img {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .safeteyy-1 {
        display: flex;
        text-align: center;
    }

    .safety-1 {
        width: 150px;
        height: 150px;

    }

    .safety-1 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-1 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .Produk-img2 {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .safeteyy-2 {
        display: flex;
        text-align: center;
    }

    .safety-2 {
        width: 150px;
        height: 150px;

    }

    .safety-2 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-2 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .Produk-img3 {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .safeteyy-3 {
        display: flex;
        text-align: center;
    }

    .safety-3 {
        width: 150px;
        height: 150px;

    }

    .safety-3 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-3 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .market-title {
        background-color: #F18716;
        width: 490px;
        padding: 15px;
        border-radius: 0px 30px 30px 0px;
    }

    .M-title h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .market-img {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }

    .imageM1 img {
        margin: 30px;
        width: 205px;
        height: 65px;
        object-fit: fill;
        cursor: pointer;
    }

    .container-foot {
        display: flex;
    }

    .foot-1 {
        padding: 30px;
        margin-top: 40px;
        margin-left: 50px;
    }

    .title-foot {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 20px;
        font-size: 15px;
        color: #fff;
    }

    .foot-img1 {
        margin-top: 50px;
    }

    .foot-img {
        display: flex;
        margin-top: 20px;
        width: 101vh;
        gap: 20px;
    }


    .foot-img img {
        width: 20px;
        height: 20px;
        object-fit: fill;
    }



    .foot-img h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #fff;

    }

    .foot-img a {
        font-family: 'Poppins',
            sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }


    .foot-2 {
        padding: 50px;
        margin-top: 30px;

    }

    .line-foot {
        width: 1px;
        height: 350px;
        border-style: solid;
        color: #fff;
    }

    .foot-3 {
        margin-top: 80px;
    }

    .title-jam h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

    .day-foot h5 {
        font-family: 'Poppins', sans-serif;
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }


}

/* @media (min-width: 992px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 35px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
    }


    header .logo img {
        width: 300px;
        height: 100px;
        object-fit: fill
    }

    .slider {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: #000;
    }


    .slider .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-delay: 0s;
        transition: 0.5s;
        z-index: 1;
        clip-path: circle(0px at center);
    }

    .slider input[type="radio"]:checked+.imgBx {
        z-index: 10;
        clip-path: circle(1000px at center);
        transition-delay: 0.45s;

    }

    .slider .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider .imgBx .content {
        position: relative;
        text-align: center;
        max-width: 800px;
    }

    .slider .imgBx .content h2 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 300;
        color: #fff;
    }

    .slider .imgBx .content .bold {
        font-weight: 700;
    }

    .slider .imgBx .content .home1 {
        font-weight: 500;
        font-size: 43px;
    }

    .slider .imgBx .content p {
        font-size: 1.1em;
        color: #fff;
        line-height: 50px;
    }

    .slider input[type="radio"] {
        position: relative;
        z-index: 1000;
        margin: 5px;
        margin-bottom: 40px;
        cursor: pointer;
    }



    .container-2 {
        margin-top: 200px;
    }

    .about {
        display: flex;
        margin: 100px;
    }

    .image img {
        width: 31em;
        object-fit: fill;
        height: 31em;
    }


    .text-about {
        margin-top: 100px;
        text-align: start;
    }

    .text-about h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 55px;

    }


    .container-3 {
        width: 100%;
        height: auto;
    }

    .container-3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-3 .text-T {
        position: absolute;
        top: 110em;
    }

    .container-3 .text-T h1 {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: #fff;
    }



    .container-4 {
        margin: 150px;
    }

    .benefit {
        display: flex;
        text-align: center;
        padding: 50px;
        justify-content: center;
    }

    .benefit-1 h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 35;
        font-weight: 600;
        color: #F18716;
    }

    .benefit-1 h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;

    }

    .benefit-card {
        display: flex;
        gap: 50px;
        margin-top: 30px;
        justify-content: center;
    }

    .card1 {
        text-align: center;
        width: 350px;
        height: 270px;
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(to bottom right, #EF8616, #4B2A06);
    }

    .card1 img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
        border-radius: 50%;
        padding: 5px;
        background-color: #fff;
    }

    .card1 h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        color: #fff;
    }

    .card1 p {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
        padding: 10px;
        color: #fff;
    }

    .card2 {
        text-align: center;
        width: 350px;
        height: 270px;
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(to bottom right, #EF8616, #4B2A06);
    }

    .card2 img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
        border-radius: 50%;
        padding: 7px;
        background-color: #fff;
    }

    .card2 h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        color: #fff;
    }

    .card2 p {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
        padding: 10px;
        color: #fff;
    }

    .card3 {
        text-align: center;
        width: 350px;
        height: 270px;
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(to bottom right, #EF8616, #4B2A06);
    }

    .card3 img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
        border-radius: 50%;
        padding: 10px;
        background-color: #fff;
    }

    .card3 h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        color: #fff;
    }

    .card3 p {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
        padding: 10px;
        color: #fff;
    }

    .container-5 {
        margin: 50px;
    }

    .text-safety h1 {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #F18716;
        font-size: 40px;
    }

    .Produk-img {
        margin-top: 70px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

    }

    .safeteyy-1 {
        display: flex;
        text-align: center;
    }

    .safety-1 {
        width: 150px;
        height: 150px;
    }

    .safety-1 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-1 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .Produk-img2 {
        margin-top: 70px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }

    .safeteyy-2 {
        display: flex;
        text-align: center;
    }

    .safety-2 {
        width: 150px;
        height: 150px;
    }

    .safety-2 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-2 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .Produk-img3 {
        margin-top: 70px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

    }

    .safeteyy-3 {
        display: flex;
        text-align: center;
    }

    .safety-3 {
        width: 150px;
        height: 150px;
    }

    .safety-3 img {
        object-fit: fill;
        width: 100px;
        height: 100px;
    }

    .safety-3 h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .market-title {
        background-color: #F18716;
        width: 550px;
        padding: 10px;
        border-radius: 0px 30px 30px 0px;
    }

    .M-title h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #fff;
    }

    .market-img {
        padding: 70px;
        display: flex;
        justify-content: space-between;
    }

    .imageM1 img {
        width: 255px;
        height: 90px;
        object-fit: fill;
        cursor: pointer;
    }


    .container-7 {
        background-color: #F18716;
    }

    .container-foot {
        display: flex;
    }

    .foot-1 {
        padding: 30px;
        margin-top: 40px;
        margin-left: 50px;
    }

    .title-foot {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 20px;
        font-size: 15px;
        color: #fff;
    }

    .foot-img1 {
        margin-top: 50px;
    }

    .foot-img {
        display: flex;
        margin-top: 20px;
        width: 101vh;
        gap: 20px;
    }


    .foot-img img {
        width: 20px;
        height: 20px;
        object-fit: fill;
    }



    .foot-img h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #fff;

    }

    .foot-img a {
        font-family: 'Poppins',
            sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }


    .foot-2 {
        padding: 50px;
        margin-top: 30px;

    }

    .line-foot {
        width: 1px;
        height: 350px;
        border-style: solid;
        color: #fff;
    }

    .foot-3 {
        margin-top: 80px;
    }

    .title-jam h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

    .day-foot h5 {
        font-family: 'Poppins', sans-serif;
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }
} */





/* @media (min-width: 1200px) {
    .Produk-img {
        margin-top: 70px;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
    }

    .Produk-img2 {
        margin-top: 70px;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
    }

    .Produk-img3 {
        margin-top: 70px;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
    }

    .container-3 {
        width: 100%;
        height: auto;
    }

    .container-3 .text-T {
        position: absolute;
        margin-top: 60px;
        top: 110em;
        color: #000;
    }

} */

/* .imgdop {
    position: absolute;
    top: 0;
    width: 40rem;
    height: 44rem;
    color: #fff;
    background-color: rgba(1, 1, 1, 0.5);
} */


/* https://pastebin.com/weFRUm21 */